.aboutproject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 93%;
    max-height: 608px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
  }
  
  @media screen and (min-width: 768px) and  (max-width: 1279px) {
    .aboutproject {
        max-height: 585px;
    }
  }
  @media screen and  (max-width: 767px) {
    .aboutproject{
        max-height: 641px;
    }
    }
  
  .aboutproject__title {
    max-width: 100%;
    margin: 0;
    font-style: normal;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
  }
  @media screen and  (max-width: 767px) {
    .aboutproject__title{
      font-size: 18px;
    }
    }
  .aboutproject__block{
    display:flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 110px;
  }
  @media screen and  (max-width: 767px) {
    .aboutproject__block{
      padding-top: 60px;
    }
    }
    .aboutproject__block_text{
        max-width: 550px;
        min-height: 36px;
        display: flex;
        flex-direction: column;

    }
    .aboutproject__text_title{
        max-width: 100%;
        margin: 0;
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.04em;
        font-family: "Inter", Arial, sans-serif;
        font-weight: 400;
        color: #FFFFFF;
        padding-bottom: 26px;
    }
    @media screen and  (max-width: 767px) {
      .aboutproject__text_title{
        font-size: 18px;
        padding-bottom: 16px;

      }
      }
    .aboutproject__text_subtitle{
        max-width: 100%;
        margin: 0;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        font-family: "Inter", Arial, sans-serif;
        font-weight: 400;
        color: #FFFFFF;
    }
    @media screen and  (max-width: 767px) {
      .aboutproject__text_subtitle{
        font-size: 11px;

      }
      }
   .aboutproject__block_text-first{
    padding-right: 40px;
   }
   .aboutproject__block_bar{
    display: flex;
    flex-direction: column;
    min-height: 36px;
    margin: 0;
   }
   .aboutproject__blocks_bar{
    display: flex;
    flex-direction: row;
   }
   .aboutproject__block_bar-green{
    background-color: #3DDC84;
    min-width: 20%;
   }
   .aboutproject__block_bar-grey{
    background-color: #303030;
    min-width: 80%;
   }
   @media screen and  (max-width: 767px) {
    .aboutproject__block_bar-grey{
      min-width: 65%;
    }
    }
    @media screen and  (max-width: 767px) {
      .aboutproject__block_bar-green{
        min-width: 35%;
      }
      }
   .aboutproject__block_bar-title{
    margin: 0;
    font-style: normal;
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    margin: auto;
   }
   @media screen and  (max-width: 767px) {
    .aboutproject__block_bar-title{
      font-size: 11px;

    }
    }
   .aboutproject__block_bar-subtitle{
    margin: 0;
    font-style: normal;
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: #000000;
    margin: auto;
   }
   .aboutproject__block_bar-subtitles{
    display: flex;
    flex-direction: row;
   }
   .aboutproject__block_bar-subtitle{
    font-style: normal;
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    margin-bottom: 110px;
   }
   @media screen and  (max-width: 767px) {
    .aboutproject__block_bar-subtitle{
      font-size: 11px;

    }
    }
   .aboutproject__block_bar-one{
        min-width: 20%;
        min-height: 17px;
   }
   .aboutproject__block_bar-two{
        min-width: 80%;
        min-height: 17px;

}
@media screen and  (max-width: 767px) {
  .aboutproject__block_bar-two{
    min-width: 65%;
  }
  }
  @media screen and  (max-width: 767px) {
    .aboutproject__block_bar-one{
      min-width: 35%;
    }
    }
.aboutproject__block_bar-title-grey{
  color: #FFFFFF;
}
@media screen and  (max-width: 767px) {
  .aboutproject__block{
    flex-direction: column;    
    padding-bottom: 4px;

  }
  }
  @media screen and  (max-width: 767px) {
    .aboutproject__block_text{
      padding-bottom: 56px;
    }
    }