.movies {
    display: grid;
    padding-right: 30px;
    padding-bottom: 60px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .movies {
        justify-self: center;
    }
}
@media screen and (min-width: 1280px) {

.movies:nth-of-type(3n){
    padding-right: 0px;
}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
.movies:nth-of-type(2n){
    padding-right: 0px;

}


}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .movies {
        padding-right: 0;
    }
}
.movies__rectangle {
    position: relative;
    min-width: 359px;
    max-width: 360px;
    width: 100%;
    min-height: 232px;
    max-height: 232px;
    height: 100%;
    background-color: #202020;
    display: grid;
    grid-template-rows: 86% 14%;
    grid-template-areas:
        "movies__image movies__image"
        "movies__title movies__area";
    margin-right: 0;
    row-gap: 14px;

}
.movies__image {
    object-fit: cover;
    max-width: 360px;
    max-height: 201px;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    grid-area: movies__image;
    cursor: pointer;
}
.movies__title {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    grid-area: movies__title;
    margin-left: 14px;
    align-self: center;
    max-width: 250px;
    width: 87%;
    word-break: break-all;

}
.movies__area{
    display: flex;
    flex-direction: column;
    margin: 0;
    grid-area: movies__area;
    margin-right: 14px;
    justify-self: flex-end;
    align-self: center;
    max-width: 52px;
    max-height: 18px;
    height: 100%;
    width: 100%;
    background-color: #2F2F2F;
    border-radius: 3px;
}
.movies__houre-lenght{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    line-height: 10px;
    color: #8B8B8B;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}
.movies__save{
    display: none;    
    flex-direction: column;
    max-width: 72px;
    max-height: 21px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 0;
    outline-style: none;
    background-color: #313131;
    align-items: center;
    transition: opacity .3s;
}

.movies__save-name{
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.movies__rectangle:hover .movies__save {
    display: flex;
    transition: opacity .3s;
    
  }
.movies__save:hover{
    opacity: 0.6;
}
.movies__delete{
    display: none;    
    flex-direction: column;
    max-width: 21px;
    max-height: 21px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 0;
    outline-style: none;
    background-color: #313131;
    align-items: center;
    transition: opacity .3s;
}
.movies__rectangle:hover .movies__delete {
    display: flex;
    transition: opacity .3s;
    
  }
.movies__save:hover{
    opacity: 0.6;
}
.movies__delete-img{
    height: 8px;
    width: 8px;
    margin: auto;
}
.movies__delete:hover{
    opacity: 0.6;
}
.movies__save-active{
    max-width: 21px;
    max-height: 21px;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 14px;
    top: 14px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    padding: 0;
    outline-style: none;
    background-color: #EE3465;
    align-items: center;
    transition: opacity .3s;
}
.movies__save-img{
    align-items: center;
    margin-bottom: 1px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .movies__rectangle {
        min-width: 338px;
        max-width: 339px;
        gap: 25px;
    }
    .movies{
        padding-bottom: 47px;
    }
    .movies__title {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        max-height: 16px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .movies__rectangle {
        max-width: 300px;
        min-width: 299px;
        gap: 0px;
    }
    .movies__title {
    font-size: 12px;
    line-height: 15px;
    }
}