.navigation {
    width: 58%;
  }
  
  .navigation__menu {
    display: none;
    margin-left: auto;
    padding: 0;
    width: 40px;
    height: 43px;
    outline: none;
    border: none;
    background: transparent url('../../../images/bar.png') center center / cover no-repeat;
    transition: opacity .2s linear;
  }
  
  .navigation__menu:hover {
    opacity: .6;
    cursor: pointer;
  }
    

  
  .navigation__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation__list-container {
    display: flex;
    flex-direction: column;
  }
  
  .navigation__close {
    display: none;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
    background: transparent url('../../../images/close.png') center center / 32px no-repeat;
    align-self: flex-end;
    transition: opacity .2s linear;
  }
  
  .navigation__close:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  .navigation__list {
    display: flex;
    padding: 0;
    list-style: none;
  }
  
  .navigation__list-item {
    margin-right: 17px;
  }
  
  .navigation__list-item_main {
    display: none;
  }
  
  .navigation__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    transition: opacity .2s linear;
    color: #FFFFFF;
    font-family: "Inter", Arial, sans-serif;
  }
  
  .navigation__link:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  .navigation__link_type_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 32px;
    margin: 0;
    border-radius: 20px;
    background-color: #313131;
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Inter", Arial, sans-serif;
  }
  @media screen and (max-width: 1279px) {
    .navigation__link:active{
      border-bottom: 2px solid #FFFFFF;
    }
  }  
  @media screen and (max-width: 1279px) {
    .navigation__menu {
      display: flex;
    }
  
    .navigation__block {
      display: none;
    }
  
    .navigation__block_opened {
      display: flex;
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .3);
      z-index: 2;
      
    }
  
    .navigation__bar {
      box-sizing: border-box;
      width: 520px;
      min-height: 100vh;
      margin-left: auto;
      flex-direction: column;
      padding-top: 27px; 
      padding-right: 27px;
      padding-left: 27px;
      padding-bottom: 90px;
      background-color: #202020;
    }
  
    .navigation__list-container {
      width: 100%;
    }
  
    .navigation__close {
      display: flex;
    }
  
    .navigation__list {
      flex-direction: column;
      margin-top: 110px;
      margin-right: auto;
      margin-left: auto;
      align-items: center;
    }
  
    .navigation__list-item {
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .navigation__list-item_main {
      display: flex;
    }
  
    .navigation__link {
      padding-bottom: 4px;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-decoration: none;
    }
  
    .navigation__link_type_profile {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navigation__list {
      margin-top: 105px;
      margin-right: auto;
    }
  
    .navigation__sidebar {
      padding-top: 18px;
      padding-right: 18px;
      padding-bottom: 46px;
    }
  
    .navigation__list-item {
      margin-bottom: 20px;
    }
  }
