.footer {
    margin: auto;
    padding: auto;
    background-color: #202020;
    max-width: 1140px;

  }
  
  .footer__title {
    margin: 0;
    padding-top: 79px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #424242;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
  }
  
  .footer__container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
  
  }
  
  .footer__copyright {
    margin: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-family: "Inter", Arial, sans-serif;
  }
  
  .footer__links {
    width: 182px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    
  }
  
  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    font-family: "Inter", Arial, sans-serif;
    transition: opacity .2s linear;

  }
  .footer__link:hover{
    cursor: pointer;
    opacity: .6;


  }
  @media screen and (min-width: 768px) and  (max-width: 1279px) {
    .footer {
      max-width: 708px;
  
    }
  }



  @media screen and (max-width: 767px) {
    .footer {
      max-width: 300px;

    }
    
    .footer__title {
      font-size: 12px;
      padding-bottom: 21px;

      

    }
    .footer__link {
      line-height: 15px;
    }
    .footer__container {
      min-height: 87px;
      margin:  auto;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 12px;
      padding-top: 30px;
    }
  
    .footer__copyright {
      margin: 0;
      line-height: 15px;
    }
  
    .footer__links {
      margin: 0;
      flex-direction: column;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      font-family: "Inter", Arial, sans-serif;
      gap: 12px;
    }
  }