.movielist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .movielist {
        justify-content: center;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .movielist {
        max-width: 282px;
    }
}